<!DOCTYPE html>
<html lang="en">

<head>
<title>PHOENIX</title>
<meta charset="utf-8">
</head>
<center>
<body>

	<a href="index.html"><img src="phheader.png"onmouseover="this.src='phheader1.png'"onmouseout="this.src='phheader.png'"/></a>
	<br>
		<a href="http://www.phoenixmerch.com/"><img src="menu/merchitem.png"onmouseover="this.src='menu/merchitem1.png'"onmouseout="this.src='menu/merchitem.png'"/></a>  
		<a href="releases.html"><img src="menu/releaseitem.png"onmouseover="this.src='menu/releaseitem1.png'"onmouseout="this.src='menu/releaseitem.png'"/></a> 
		<a href="gigs.html"><img src="menu/gigitem.png"onmouseover="this.src='menu/gigitem1.png'"onmouseout="this.src='menu/gigitem.png'"/></a> 
	<br>
	<br>
	
	<table style="width:50%">
		<td>
			<img src="images/united2000.jpg" alt="United (2000)" style="width:320px;height:320px" ></a>
		</td>
		<td>
			<ol>
				<li>School's Rules</li>
				<li>Too Young</li>
				<li>Honeymoon</li>
				<li>If I Ever Feel Better</li>
				<li>Party Time</li>
				<li>On Fire</li>
				<li>Embuscade</li>
				<li>Summer Days</li>
				<li>Funky Squaredance</li>
				<li>Definitive Breaks</li>
			</ol>
		</td>
	</table>
	<form><input type="button" value="PURCHASE" onClick="window.location.href='https://itunes.apple.com/us/album/united/id696669435'"></form>
	
	<p><small>COPYRIGHT &copy 2014 BY PHOENIX</small></p>
</center></body>
</html>
